{:input-datasets
 {;; General population dataset
  :historic-population
  "./datasets/default_datasets/core/historic-population.csv"
  ;; Fertility datasets
  :ons-proj-births-by-age-mother
  "./datasets/default_datasets/fertility/proj-births-by-age-mother.csv"
  :historic-births
  "./datasets/default_datasets/fertility/historic_births.csv"
  ;; Mortality dataset
  :historic-deaths
  "./datasets/default_datasets/mortality/historic_deaths.csv"
  ;; Migration dataset
  :domestic-in-migrants
  "./datasets/default_datasets/migration/domestic_in_migrants.csv"
  :domestic-out-migrants
  "./datasets/default_datasets/migration/domestic_out_migrants.csv"
  :international-in-migrants
  "./datasets/default_datasets/migration/international_in_migrants.csv"
  :international-out-migrants
  "./datasets/default_datasets/migration/international_out_migrants.csv"
  :future-mortality-trend-assumption
  "./datasets/default_datasets/mortality/death_improvement.csv"}

 :user-parameters
 {;; Core module
  :first-proj-year 2015
  :last-proj-year 2040

  ;; Fertility module
  :fert-base-year 2014
  ;; proportion of male newborns in the UK -> 105/205
  :number-male-newborns 105 ;; <- keep that value for a population projection for the UK
  :number-all-newborns 205 ;; <- keep that value for a population projection for the UK

  ;; Mortality module
  :start-year-avg-mort 2010 ;; 2002 to 2014
  :end-year-avg-mort 2014 ;; 2002 to 2014

  ;; Migration module
  :start-year-avg-domin-mig 2003 ;; 2002 to 2014
  :end-year-avg-domin-mig 2014 ;; 2002 to 2014
  :start-year-avg-domout-mig 2003 ;; 2002 to 2014
  :end-year-avg-domout-mig 2014 ;; 2002 to 2014
  :start-year-avg-intin-mig 2003 ;; 2002 to 2014
  :end-year-avg-intin-mig 2014 ;; 2002 to 2014
  :start-year-avg-intout-mig 2003 ;; 2002 to 2014
  :end-year-avg-intout-mig 2014 ;; 2002 to 2014
  }}
